# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/

# VS Code
.vscode/
